<!DOCTYPE html>
<!-- layout:decorate どのレイアウトにこのHTMLを組み込むかを指定する　-->
<!-- 形式：「~{ファイルパス}」　-->
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<!-- レイアウト側のHTMLから参照されるキー名を指定する　-->
	<!-- layout.htmlの「"~{layout/header/header}"」の部分の「キー名」と一致させる　-->
	<nav layout:fragment="header"
		class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Spring Sample</a>
				</div>
				<form method="post" th:action="@{/logout}">
					<button class="btn btn-link pull-right navbar-brand" type="submit">
						ログアウト
					</button>
				</form>
			</div>
		</nav>
	<!-- メニュー -->
</body>
</html>