<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Error</title>
</head>
<body>
	<!-- 以下の「status、error、message」はSpringが自動で設定してくれる -->
	<!-- ${status} = HTTPのエラーコードが格納されている -->
	<!-- ${error} = HTTPのエラー概要が表示される -->
	<!-- ${message} = エラーメッセージが表示される -->
	<h1 th:text="${status} + '' + ${error}"></h1>
	<p th:text="${message}"></p>
	<p>ログインページに戻ってください</p>
	<form method="post" th:action="@{/logout}">
		<button class="btn btn-link" type="submit">ログイン画面に戻る</button>
	</form>
</body>
</html>